body {
  font-family:sans-serif;
  font-size: 14px;
  color: #222;
}

a{
  color:rgb(233,87,80);
}

a:visited{
  color: rgb(15,97,165);
}

header{
  font-size: 24px;
}

nav{
  font-style:Italic;
}

#preamble{
  background-color: #eee;
}

#articles{
  background-color: #eee;
}

#amendmnets{
  background-color: #eee;
}

.bill-of-rights{
  background-color: #ccc;
}
